

<section class="todoapp">
  <header class="header">
    <app-title></app-title>
    <app-todo-input></app-todo-input>
  </header>
  <section *ngIf="count" class="main">
    <app-todo-select-all></app-todo-select-all>
    <app-todo-list></app-todo-list>
    <app-todo-pagination></app-todo-pagination>
    <app-todo-footer></app-todo-footer>
  </section>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/reginna-chao/todomvc-angular">Reginna Chao</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
