<li
  *ngIf="todo"
  [class.completed]="todo.completed"
  [class.editing]="editing"
  >
  <div class="view">
    <input class="toggle" type="checkbox"
      [checked]="todo.completed"
      [(ngModel)]="todo.completed"
      (change)="updateTodo(todo)"
      >
    <label (dblclick)="showEdit()">{{todo.text}}</label>
    <button class="destroy" (click)="removeTodo()"></button>
  </div>
  <input *ngIf="editing" class="edit" autoFocus [value]="todo.text" #editTodo
    (keydown.enter)="hideEdit(editTodo)" (blur)="hideEdit(editTodo)" (keydown.esc)="cancelEdit(editTodo)">
</li>
